.SearchContainer {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 650px;
    margin: auto;
    left: 250px;
    right: 0;
    text-align: center;
    
}


.SearchPopUp {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 600px;
    height: 150px;
    background-color: #121317;
    text-align: center;
    padding: 5%;
}

.SearchPopUp-Result{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 600px;
    height: 350px;
    background-color: #5B7B82;
    text-align: center;
    padding-top: 4%;
}

.SearchPopUp-Bottom{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 600px;
    height: 150px;
    background-color: #121317;
    text-align: center;
    padding: 5%;
}

.searchButton
{
    background-color:  #5B7B82;
    border: 0;
}

.searchButton:hover
{
    background-color:  #5B7B82;
    border: 0;
}
