.cover {
    height: 235px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.infoTitle{
    text-align: left;
    color: rgb(48, 48, 48);
    font-size: medium;
    position: relative;
}

.infoText{
    font-size: large;
    text-align: right;
    padding-right: 20%;
    position: relative;
}

.bookInfo{
    padding-top: 3%;
    line-height: 10px;
}