  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: whitesmoke;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .App {
    height: 100vh;
  }

  .contents {
    padding: 0;
  }

  .titlecolor{
    color:  #86bac5;
  }

  .button{
    background-color:  #5B7B82;
    border: 0;
    display: block;
  }

  .button:hover{
    background-color:  #4a6166;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    max-height: 50px;
    background-color: #121317;
    padding: 5px;
  }

  .header-text {
    flex: 1;
    text-align: center;
  }
  
  .content-page {
    background-color: #1B1C21;
    min-height: 95vh;
    border: 2px solid #131313;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 5%;
    padding-top: 2.5%;
    backdrop-filter: blur(4px);
    background-image: url('../assets/wishlist.png');
    background-size: cover;
  }

  .header-icon{
    position: absolute;
    z-index: 1;
    right: 10px;
    width: 35px;
    height: auto;
  }

  .header-icon2{
    position: absolute;
    z-index: 5;
    right: 55px;
    width: 35px;
    height: auto;
  }

 .header-icon:hover{
    fill: #4d5253!important;
    cursor: pointer;
  }

  .header-icon2:hover{
    fill: #4d5253!important;
    cursor: pointer;
  }

  .white-icon{
    fill: whitesmoke;
  }